@mixin project-style {
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background-color: #fff;
  }
  &.active {
    background-color: #fff;
    font-weight: 700;
  }
}

@mixin btn-style($bg, $width, $color) {
  background-color: $bg;
  color: $color;
  width: $width;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 1rem;
  border-style: none;
}

@mixin component-in-task-style {
  width: 100%;
  max-width: 92.2rem;
  margin: 0 auto;
  padding: 0 55px;
}
