@import 'mixins';
@import 'variables';
.modal {
  position: fixed;
  left: 30vw;
  top: 25%;
  z-index: 100;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 40vw;
  max-width: 500px;
  background-color: #ffffff;
  transition: transform 0.6s ease-in-out;
  input {
    width: 100%;
    line-height: 2rem;
  }
  &__children {
    margin: 2rem;
  }

  &__btn--success {
    @include btn-style($generic-bg, 70px, #fff);
  }
  &__btn--cancel {
    @include btn-style($sidebar-bg, 70px, #000);
  }
}
