@import 'mixins';
@import 'variables';
.modal {
  position: fixed;
  left: 30%;
  top: 35%;
  z-index: 50;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 40%;
  max-width: 500px;
  background-color: #ffffff;
  transition: transform 0.6s ease-in-out;
  &__children {
    margin: 2rem;
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
  }
  &__btn--success {
    @include btn-style($generic-bg, 70px, #fff);
  }
  &__btn--cancel {
    @include btn-style($sidebar-bg, 70px, #000);
  }
}
