@import 'App-header';
@import 'variables';
@import 'sidebar';
@import 'generic';
@import 'mixins';
html {
  box-sizing: border-box;
  font-size: 10px;
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  background-color: #fff;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  width: 100%;
}

ul {
  list-style: none;
}
